.cell{
    aspect-ratio: 1;
    border: 1px solid black;
    border-left: 0;
    border-top: 0;
    box-sizing: border-box;
}

.cell--no-border{
    border: none;
}

.cell--alive{
    background: green;
}

.cell--dead{
    background: $color-secondary;
}

.cell--alive[data-age='1']{
    background: rgb(150, 250, 150);
}

.cell--alive[data-age='2']{
    background: rgb(127, 253, 127);
}

.cell--alive[data-age='3']{
    background: rgb(65, 253, 65);
}

.cell--alive[data-age='4']{
    background: rgb(185, 253, 122);
}

.cell--alive[data-age='5']{
    background: rgb(192, 245, 46);
}

.cell--alive[data-age='6']{
    background: rgb(247, 227, 51);
}

.cell--alive[data-age='7']{
    background: rgb(248, 198, 60);
}

.cell--alive[data-age='8']{
    background: rgb(248, 163, 36);
}

.cell--alive[data-age='9']{
    background: rgb(255, 115, 0);
}

.cell--alive[data-age='10']{
    background: rgb(255, 0, 0);
}

